* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343434 !important;
}

.cardBox {
  background: #343434;
  width: 30% !important;
  height: 80% !important;
}

.card {
  text-align: center;
  align-items: center;
  height: 100% !important;
  display: flex !important;
  color: white !important;
  text-transform: capitalize;
  padding: 10% 5% !important;
  justify-content: space-between;
  border-radius: 50px !important;
  background: #343434 !important;
  box-shadow: 5px 5px 10px #191b1b, -5px -5px 10px #595959;
}

.locationBox {
  font-size: 200%;
}

.weatherBox {
  overflow: hidden;
  font-size: 120%;
  font-style: italic;
}

.weatherBox img{
  transform: scale(1.5);
}

.windBox {
  font-size: 110%;
}

.tempBox {
  font-size: 600%;
  font-weight: 400;
}

#tempSup {
  font-size: 50%;
  vertical-align: super;
}

.refreshBtn {
  width: 6rem;
  border: none;
  height: 6rem;
  color: #cdcdcd;
  border-radius: 50%;
  font-size: 2rem !important;
  background: transparent;
  box-shadow: 10px 5px 10px #252525, 5px 5px 18px #4a4a4a;
}

.refreshBtn:hover {
  box-shadow: inset 10px 4px 10px #252525, inset 5px 5px 18px #4a4a4a;
}

@media only screen and (max-width: 500px) {
  .cardBox {
    width: 85% !important;
    height: 85% !important;
  }
}

@media (501px <= width <= 675px) {
    .cardBox {
    width: 75% !important;
    height: 85% !important;
  }
}

@media (676px <= width <= 975px) {
    .cardBox {
    width: 50% !important;
    height: 85% !important;
  }
}
